<% include partials/header %>

<div class="container" style="margin-top: 20px;">
    <h1><i class="fas fa-user"></i> <%= user.username %> | Profile</h1>

        <div class="container card card-body m-8" style="margin-bottom: 30px;">
            <h4 class="card-title">Bio</h4>
            <p class="card-text">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Voluptas neque rerum officia delectus molestiae nulla repellendus id quasi eaque voluptatibus esse, facere quidem asperiores quo doloremque quisquam provident enim odit.
            </p>

        </div>
</div>

<div class="container">
    <div class="row">
        <h4>Campgrounds</h4>
        <div class="row text-center" style="display:flex; flex-wrap:wrap;">

        <% if(campgrounds.length == 0){ %>
            <p class="bg-warning">This user has not yet posted any campgrounds.</p>
        <% } %>
            <% campgrounds.forEach(function(campground){ %>
            <div class="col-lg-3 col-md-4 col-sm-6">

                <div class="card m-6">
                    <a href="/campgrounds/<%= campground._id %>"><img class="card-img-top" src="<%= campground.image %>"></a>
                    <div class="card-body">
                        <a href="/campgrounds/<%= campground._id %>"><h5><%= campground.name %></h5></a>
                    </div>
                    <p>
                       <a href="/campgrounds/<%= campground._id %>" class="btn btn-primary">More Info</a>
                    </p>
                </div>

            </div>
        <% }); %>

        </div>
    </div>

</div>


<% include partials/footer %>
