<% include ../partials/header %>


<div class="container">
    <div style="margin-botton: 20px;"><br></div>
    <div class="row">
        <div class="col-md-3">
            <h1 class="text-center heading"><i class="fas fa-tree"></i></h1>
            <p class="lead text-center"><%= campground.location %></p>
            <div id="map"></div>
        </div>
        <div class="col-md-9">
            <div class="card">
                <img class="img-responsive card-img-top" src="<%= campground.image %>">
                <div class="card-body">
                    <h4 class="float-right">$<%= campground.price %>/night</h4>
                    <h4><a href=""><%= campground.name %></a></h4>
                    <p class="card-text"><%= campground.description %></p>
                    <p>
                        <em>
                            Submitted by <a href="/user/<%= campground.author.username %>"><%= campground.author.username %></a>, <%= moment(campground.createdAt).fromNow() %>
                        </em>
                    </p>
                    <% if(currentUser && campground.author.id.equals(currentUser._id)) { %>
                        <a class="btn btn-sm btn-warning" href="/campgrounds/<%= campground._id %>/edit">Edit</a>

                        <form class="delete" action="/campgrounds/<%= campground._id %>?_method=DELETE" method="POST">

                            <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#campDelete">Delete</button>

                            <!--Modal-->
                            <div class="modal fade" id="campDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                <div class="modal-dialog" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="ModalLabel">Confirm Delete</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                          <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        Are you sure you wish to delete this campground?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn grey" data-dismiss="modal">Close</button>
                                        <button type="button" class="btn btn-danger odom-submit">Delete</button>
                                    </div>
                                    </div>
                                </div>
                            </div>

                        </form>
                    <% } %>
                </div>

            </div><!--End of thumbnail-->

            <div class="well">
                <div class="text-right">
                    <a class="btn btn-success" href="/campgrounds/<%= campground._id %>/comments/new">Add Comment</a>
                </div>
                <hr>
                <h4>Comments <span class="glyphicon glyphicon-comment"></span></h4>
                <% if(campground.comments.length == 0) { %>
                    <p>No comments yet.</p>
                <% } %>
                <% campground.comments.forEach(function(comment){ %>
                    <div class="row">
                        <div class="col-md-12">
                            <strong><%= comment.author.username %></strong>
                            <span class="float-right"><%= moment(comment.createdAt).fromNow() %></span>
                            <p><%= comment.text %></p>
                            <% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
                                <a class="btn btn-warning btn-sm"
                                href="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>/edit">Edit
                                </a>

                                <form class="delete" action="/campgrounds/<%= campground._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">

                                    <button type="button" class="btn btn-sm btn-danger" data-toggle="modal" data-target="#commentDelete">Delete</button>

                                    <!-- Modal -->
                                    <div class="modal fade" id="commentDelete" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                            <div class="modal-header">
                                                <h5 class="modal-title" id="ModalLabel">Confirm Delete</h5>
                                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                  <span aria-hidden="true">&times;</span>
                                                </button>
                                            </div>
                                            <div class="modal-body">
                                                Are you sure you wish to delete this comment?
                                            </div>
                                            <div class="modal-footer">
                                                <button type="button" class="btn grey" data-dismiss="modal">Close</button>
                                                <button type="button" class="btn btn-danger odom-submit">Delete</button>
                                            </div>
                                            </div>
                                        </div>
                                    </div>

                                </form>



                            <% } %>
                        </div>
                    </div>

                <% }); %>
            </div>


        </div>
    </div>

</div>

<script>
  function initMap() {
    var lat = <%= campground.lat %>;
    var lng = <%= campground.lng %>;
    var center = {lat: lat, lng: lng };
    var map = new google.maps.Map(document.getElementById('map'), {
        zoom: 8,
        center: center,
        scrollwheel: false
    });
    var contentString = `
      <strong><%= campground.name %><br />
      <%= campground.location %></strong>
      <p><%= campground.description %></p>
    `
    var infowindow = new google.maps.InfoWindow({
      content: contentString
    });
    var marker = new google.maps.Marker({
        position: center,
        map: map
    });
    marker.addListener('click', function() {
      infowindow.open(map, marker);
    });
  }
</script>
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBMuHtG72rrwwQnZtXP-1sPlWhoWjEMkz4&callback=initMap"></script>


<% include ../partials/footer %>
